@(projectForm: Form[Project], customers: Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {

    <h1>Add a project</h1>

    @form(routes.HomeController.saveProject()) {

        <fieldset>
            @CSRF.formField
            @inputText(projectForm("name"), '_label -> "Project name", '_help -> "")

            @select(
                projectForm("customerId"),
                customers,
                '_label -> "Customer",
                '_default -> "-- Choose a customer --",
                '_showConstraints -> false
            )
        </fieldset>

        <div class="actions">
            <input type="submit" value="Create project" class="btn primary"> or
            <a href="@routes.HomeController.listProjects()" class="btn">Cancel</a>
        </div>

    }

}