@(id: Long, projectForm: Form[Project], customers : Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {

    <h1>Edit project</h1>

    @form(routes.HomeController.updateProject(id)) {

        <fieldset>
            @CSRF.formField
            @inputText(projectForm("name"), '_label -> "Project name", '_help -> "")
            @select(
                projectForm("company"),
                customers,
                '_label -> "Customer",
                '_default -> customers.find(customer => customer._1.toLong == projectForm.value.get.customerId).get._2,
                '_showConstraints -> false
            )
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this project" class="btn primary">
            @form(routes.HomeController.deleteProject(id), 'class -> "topRight") {
                @CSRF.formField
                <input type="submit" value="Delete this project" class="btn danger">
            } or
            <a href="@routes.HomeController.listProjects()" class="btn">Cancel</a>
        </div>

}


}
